* {
  list-style-type: none;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}

body {
  background-color: rgb(255, 255, 255);
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

hr {
  max-width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.navbar {
  transition: all 0.5s;
}

.navbar-nav {
  padding: 1rem 0;
}

.navbar-brand {
  padding-right: 1rem;
  color: #e9ecef;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  background-color: #f8f9fa;
}

.navbar-toggler:hover {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link {
  padding: 10px 15px;
  transition: border-radius 0.5s ease;
}

.nav-link:hover {
  background-color: #f8f9fa;
  border-radius: 10px;
  transition: color 0.5s, border-radius 0.5s ease;
}

.nav-link:active {
  color: #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 10px;
  transition: color 0.5s, border-radius 0.5s ease;
}

.header-title {
  color: white;
  margin-bottom: 1rem;
  animation-duration: 3s;
}

.header-subtitle {
  color: white;
  animation-duration: 3.5s;
}

.main-header-container {
  background-color: wheat;
  height: 965px;
  background-image: url(https://i.pinimg.com/564x/9a/6a/fd/9a6afdcc7761b11cc3669b0900f649fe.jpg);
  background-size: cover;
}

.title-text {
  margin-top: 300px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.lead {
  font-weight: 500;
}

.leisure-section {
  background-color: #edf6f9;
  margin-top: 100px;
}

.intro-container,
.destination-container {
  margin-bottom: 100px;
}

.card-container {
  height: 400px;
}

.destination-info {
  margin-bottom: 50px;
}

.destination-button {
  background-color: transparent;
  color: white;
  border-style: none;
  text-shadow: 2px 2px 5px #072a9f;
}

.image-card-container {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.image-card-container:hover {
  transform: translateY(-10px);
}

.content-container {
  margin-bottom: 200px;
}

.about-container {
  margin-top: 100px;
  margin-bottom: 200px;
}

.left-container,
.right-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer-container {
  background-color: #072a9f;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

.footer-container {
  color: white;
  background-color: #072a9f;
}

.footer-icon {
  fill: white;
}

.icon {
  fill: white;
}

/* CSS Animations */

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated {
  animation-fill-mode: both;
}

.slideInDown {
  animation-name: slideInDown;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.slideInDown,
.fadeInDown,
.fadeInUp,
.fadeIn {
  animation-duration: 2s;
}

/* Media Queries */

@media only screen and (max-width: 35.998rem) {
  .header-title {
    font-size: 2.5rem;
    margin-top: 10vh;
  }
  .header-subtitle {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 36rem) {
  .header-title {
    font-size: 3rem;
    margin-top: 15vh;
  }
  .header-subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 48rem) {
  .header-title {
    font-size: 3.5rem;
    margin-top: 20vh;
  }
  .header-subtitle {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 62.123rem) {
  .header-title {
    font-size: 4rem;
    margin-top: 25vh;
  }
  .header-subtitle {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 75rem) {
  .header-title {
    font-size: 4.5rem;
    margin-top: 30vh;
  }
  .header-subtitle {
    font-size: 2.25rem;
  }
}
