* {
  list-style-type: none;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}

body {
  background-color: rgb(255, 255, 255);
}

.nav-link {
  padding: 10px 15px;
}

.nav-link:hover {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.nav-item.active .nav-link {
  color: #007bff;
  background-color: #e9ecef;
  border-radius: 10px;
}

.navbar-nav {
  padding: 1rem 0; /* Adjust as needed */
}

.navbar-brand {
  padding-right: 1rem;
  color: #e9ecef;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  background-color: #f8f9fa;
}

.navbar-toggler:hover {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.nav-link:active {
  background-color: #e9ecef;
  color: #007bff;
}

.main-header {
  color: white;
}

.header-title {
  font-size: 2rem;
  color: white;
}

.header-subtitle {
  font-size: 1rem;
  color: white;
}

.main-header-container {
  background-color: wheat;
  height: 965px;
  background-image: url(https://i.pinimg.com/564x/9a/6a/fd/9a6afdcc7761b11cc3669b0900f649fe.jpg);
  background-size: cover;
}

.title-text {
  margin-top: 300px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.lead {
  font-weight: 500;
}

.leisure-section {
  background-color: #edf6f9;
  margin-top: 100px;
}

.intro-container {
  margin-bottom: 100px;
}

.destination-container {
  margin-bottom: 100px;
}

.card-container {
  height: 400px;
}

.destination-info {
  margin-bottom: 50px;
}

.content-container {
  margin-bottom: 200px;
}

.about-container {
  margin-top: 100px;
  margin-bottom: 200px;
}

.left-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.right-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer-container {
  background-color: #072a9f;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

hr {
  max-width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.icon {
  fill: white;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 35.998rem) {
  .header-title {
    font-size: 2.5rem;
  }
  .header-subtitle {
    font-size: 1.25rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 36rem) {
  .header-title {
    font-size: 3rem;
  }
  .header-subtitle {
    font-size: 1.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 48rem) {
  .header-title {
    font-size: 3.5rem;
  }
  .header-subtitle {
    font-size: 1.75rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 62.123rem) {
  .header-title {
    font-size: 4rem;
  }
  .header-subtitle {
    font-size: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 75rem) {
  .header-title {
    font-size: 4.5rem;
  }
  .header-subtitle {
    font-size: 2.25rem;
  }
}
